<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::main}, #{EnableDisableBeneficiaries})}">

<main role="main" class="container">
    <th:block
            th:insert="~{fragments/sectionHeading :: sectionHeading(#{EnableDisableBeneficiaries})}"/>

    <form th:object="${beneficiaryFormModel}" method="get"
          class="form-horizontal" id="searchName-form">
        <div class="input-group mb-3">
            <input type="text" class="form-control" th:field="*{searchName}"
                   th:placeholder="#{Search}"
                   aria-label="Search"
                   aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" th:text="#{Search}"></button>
            </div>
        </div>
    </form>
    <form method="post" class="col-12" th:object="${beneficiaryFormModel}">
        <div class="table-responsive">
            <table id="beneficiaryTable" class="table table-striped table-sm">
                <thead>
                <tr>
                    <th th:text="#{FirstName}"></th>
                    <th th:text="#{LastName}"></th>
                    <th th:text="#{RedCrossId}"></th>
                    <th th:text="#{DOB}"></th>
                    <th th:text="#{Gender}">Gender</th>
                    <th th:text="#{EnableDisable}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="beneficiary,iter:*{beneficiaries}">
                    <td th:text="${beneficiary.firstName}"></td>
                    <td th:text="${beneficiary.lastName}"></td>
                    <td th:text="${beneficiary.rcId}"></td>
                    <td th:text="${#dates.format(beneficiary.dateOfBirth, 'dd-MMM-yyyy')}"></td>
                    <td th:text="${beneficiary.gender}"></td>
                    <td>
                        <div class="btn-group">
                            <label class="btn btn-secondary">
                                <input type="radio"
                                       th:field="*{beneficiaries[__${iter.index}__].status}"
                                       th:id="${'optionEnable-' + iter.index}"
                                       autocomplete="off"
                                       th:checked="*{beneficiaries[__${iter.index}__].status}"
                                       th:value="1" th:text="#{Enable}"></label>
                            <label class="btn btn-secondary">
                                <input type="radio"
                                       th:field="*{beneficiaries[__${iter.index}__].status}"
                                       th:id="${'optionDisable-'+ iter.index}"
                                       autocomplete="off"
                                       th:checked="*{not beneficiaries[__${iter.index}__].status}"
                                       value="0" th:text="#{Disable}"></label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <button type="submit" class="btn btn-primary btn-lg" th:text="#{ContinueLabel}"></button>
    </form>
</main>
</html>