<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::main}, #{ViewVisitTemplates})}">
<main role="main" class="container">
    <th:block th:insert="~{fragments/sectionHeading :: sectionHeading(#{ViewVisitTemplates})}"/>

    <div class="row">
        <div class="col-12">
            <ul class="list-group list-group-flush">
                <li th:replace="~{fragments/directiveSummary :: summaryListItem(
                    #{VisitForm},
                    ${visitForm.visitForm != null}? ${visitForm.visitForm.getFormId()})}"></li>
            </ul>
        </div>
    </div>
</main>
</html>