<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<div class="row menu-item-row" th:fragment="item(href, text, icon, helpText, disabled)">
    <!--/*@thymesVar id="href" type="java.lang.String"*/-->
    <!--/*@thymesVar id="text" type="java.lang.String"*/-->
    <!--/*@thymesVar id="icon" type="java.lang.String"*/-->
    <!--/*@thymesVar id="helpText" type="java.lang.String"*/-->
    <!--/*@thymesVar id="disabled" type="java.lang.Boolean"*/-->

    <div class="col-lg-8 col-12">
        <a class="btn btn-custom-lg btn-primary btn-block d-flex align-items-center rounded-pill"
           th:href="${href}" th:classappend="${disabled}? 'disabled'">
            <div class="d-flex justify-content-center align-items-center rounded-circle menu-item-icon">
                <img th:src="${icon}" th:alt="${text}">
            </div>

            <span class="mr-auto text-uppercase font-weight-bold" th:text="${text}"></span>
            <th:block th:if="${helpText}" th:insert="~{fragments/tooltip :: tooltip(${helpText})}"/>
        </a>
    </div>
</div>

<div class="row mb-3 justify-content-around" th:fragment="heading(text)">
    <!--/*@thymesVar id="text" type="java.lang.String"*/-->

    <div class="col-auto d-flex align-items-center">
        <h1 id="menu-title" class="mb-0 text-uppercase" th:text="${text}"></h1>
    </div>

    <div id="menuLogoColumn" class="col-auto">
        <div class="row align-items-center h-100">
            <div class="col-auto h-75 pr-0 mr-3">
                <img th:src="@{/img/ifrc_logo.svg}" class="h-100" alt="ifrc logo"/>
            </div>
            <div class="col-auto v1-blue h-100 p-0"></div>
            <div class="col-auto h-75 p-1 ml-3 rc-red-bg">
                <img th:src="@{/img/rc2_logo_red_cropped.svg}" class="h-100 rc-red-bg" alt="rc2 logo"/>
            </div>
        </div>
    </div>
</div>

</html>