<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: createDistNVisitLayout (~{::page}, #{DistributionCreator})}">
<th:block th:fragment="page">
<main role="main" class="container">
    <th:block th:insert="~{fragments/sectionHeading :: headingWithName(#{DistributionCreator}, ${newDistForm.name})}"/>
    <th:block th:insert="~{fragments/sectionNavigation :: distribution('auth')}"/>

    <div class="row">
        <form method="post" class="col-12" id="newDistFormAuth" th:object="${newDistForm}">
            <div class="form-group">
                <label for="newDistItems" th:text="#{ListOfItemsIncludedInThisDistribution}"></label>
                <div class="row">
                    <div class="col-10">
                        <select class="form-control" id="newDistItems" size="10" th:classappend="${#fields.hasErrors('authorizations')}? 'is-invalid'">
                            <option th:each="auth : ${newDistForm.authorizations}"
                                    th:value="${auth.id}" th:text="${auth.itemName}"></option>
                        </select>
                        <th:block th:insert="~{fragments/feedback :: msg('newDistForm.authorizations')}"/>
                    </div>
                    <div class="col-2">
                        <div class="btn-group-vertical btn-block">
                            <a class="btn btn-secondary"
                               th:href="${#mvc.url('AC#newAuthItemDelivery').build()}"
                               th:text="#{Add}"></a>
                            <button type="button" onclick="editAuth()" class="btn btn-secondary"
                                    th:text="#{EditBtnTxt}"></button>
                            <button type="button" onclick="removeAuth()" class="btn btn-secondary"
                                    th:text="#{ResetCaseBtnTxt}"></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="newDistFieldSummaryReport" class="col-2 col-form-label">
                    <th:block th:text="#{FieldReportFormBtnTxt}"/>&nbsp;
                    <th:block th:insert="~{fragments/tooltip :: tooltip(#{DistributionFieldReportTT})}"/>
                </label>
                <div class="col-5" th:insert="~{fragments/xlsxFileChooser ::
                    chooser('newDistFormAuth', 'fieldSummaryReport', 'newDistFieldSummaryReport',
                    ${newDistForm.fieldSummaryReport}? ${newDistForm.fieldSummaryReport.formId})}"></div>
                <th:block th:insert="~{fragments/xlsxFileChooser :: indicators}"/>
            </div>

            <button type="submit" class="btn btn-primary btn-lg" th:text="#{ContinueLabel}"></button>
        </form>
    </div>
</main>

<script th:inline="javascript">
    'use strict';

    function removeAuth() {
      let doRemove = window.javafx.openFxConfirmDialog([[ #{ConfirmRemoveAuth} ]]);

      if (!doRemove) {
        return;
      }

      let idToRemove = document
        .getElementById('newDistItems')
        .value;

      if (!!idToRemove) {
        window.location.search = `remove=${idToRemove}`;
      }
    }

    function editAuth() {
      let idToRemove = document
        .getElementById('newDistItems')
        .value;

      if (!!idToRemove) {
        window.location.search = `edit=${idToRemove}`;
      }
    }
</script>
</th:block>
</html>