<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::main}, #{ErrorLabel})}">
<body>
<main role="main" class="container">
    <th:block th:insert="~{fragments/sectionHeading :: sectionHeading(#{ErrorLabel})}"/>
    <table>
        <tr>
            <td>Date</td>
            <td th:text="${timestamp}"/>
        </tr>
        <tr>
            <td>Path</td>
            <td th:text="${path}"/>
        </tr>
        <tr>
            <td>Error</td>
            <td th:text="${error}"/>
        </tr>
        <tr>
            <td>Status</td>
            <td th:text="${status}"/>
        </tr>
        <tr>
            <td>Message</td>
            <td th:text="${message}"/>
        </tr>
        <tr>
            <td>Exception</td>
            <td th:text="${exception}"/>
        </tr>
        <br>
        <tr>
            <td>Trace</td>
            <td>
                <pre th:text="${trace}"/>
            </td>
        </tr>
    </table>
</main>

</body>
</html>
