<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::main}, #{SyncWithServerTxt})}">
<body>
<main role="main" class="container">
    <th:block th:insert="~{fragments/sectionHeading :: sectionHeading(#{SyncWithServerTxt})}"/>
    <div>
        <div class="card card-body">
            <div class="row">
                <form method="post" class="col-12" th:object="${exportFormModel}">
                    <div class="form-group">
                        <label for="export-server-url" th:text="#{RC2ServerAddress}"></label>
                        <input class="form-control" id="export-server-url" th:field="*{serverUrl}"
                               th:readonly="*{!#strings.isEmpty(serverUrl)}"
                               th:errorclass="is-invalid"
                               th:insert="~{fragments/feedback :: msg('exportFormModel.serverUrl')}">
                    </div>

                    <div class="form-group">
                        <label for="export-username" th:text="#{UsernameLabel}"></label>
                        <input type="text" class="form-control" id="export-username"
                               th:field="*{username}" th:errorclass="is-invalid"
                               th:insert="~{fragments/feedback :: msg('exportFormModel.username')}">
                    </div>

                    <div class="form-group">
                        <label for="export-password" th:text="#{PasswordLabel}"></label>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" id="export-password"
                                   th:field="*{password}" th:errorclass="is-invalid">
                            <div class="input-group-append">
                                <div class="input-group-text" >
                                    <div class="custom-control custom-checkbox" >
                                        <input class="custom-control-input"
                                               type="checkbox" id="exportPasswordShowPassword"
                                               data-password-id="export-password" onclick="toggleShowPassword(this)" />
                                        <label class="custom-control-label" for="exportPasswordShowPassword"
                                               th:text="#{ShowPasswordLabel}"></label>
                                    </div>
                                </div>
                            </div>
                            <th:block th:insert="~{fragments/feedback :: msg('exportFormModel.password')}" />
                        </div>
                    </div>

                    <button type="submit" id="syncServerButton"
                            class="btn btn-primary btn-lg d-flex mx-auto text-center px-5 py-3"
                            data-target="#pleaseWaitModal" data-toggle="modal"
                            th:text="#{ExportSrvBtnLabel}">
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="pleaseWaitModal" tabindex="-1" role="dialog"
         data-backdrop="static" data-keyboard="false"
         aria-labelledby="pleaseWaitModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pleaseWaitModalTitle">Loading....</h5>
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        'use strict';

        function toggleShowPassword(element) {
            console.log("ran function");
            let passwordId = document.getElementById(element.dataset.passwordId);
            if (passwordId.type === "password") {
                passwordId.type = "text";
            } else {
                passwordId.type = "password";
            }
        }
    </script>
</main>
</body>
</html>